@charset "UTF-8";

@font-face {
    font-family: 'Source Han Serif';
    src: url('../fonts/SourceHanSerif-SemiBold.otf') format('opentype');
    font-weight: 600;
    /* SemiBold = 600 */
    font-style: normal;
    font-display: swap;
}

/* ============================================
   Import Common CSS
   ============================================ */
@import url('common.css');


/* ============================================
   基本設定
   ============================================ */
body {
    font-family: var(--font-main);
    font-size: var(--fs-normal);
    line-height: var(--lh-relaxed);
    font-weight: var(--fw-normal);
    color: #521e0f;
    background-color: #ffffff;
    background-image: linear-gradient(#fdfdfedf, #fdf6fedf),

        url(../images/noise.png);
    background-repeat: repeat;
    background-size: 100px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

a:hover {
    color: var(--color-secondary) !important;
}

p {
    font-size: var(--fs-sm);
    font-weight: var(--fw-medium);
}

h3 {
    font-family: var(--font-serif);
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);

}

h4 {
    font-family: var(--font-en);
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);

}

.photo {
    display: black;
    margin: 0 auto 3rem auto;
    width: auto;
    height: 200px;
    aspect-ratio: 4 / 3;
    margin-bottom: 3rem;
    border-radius: 20px;
}

.wrap {
    display: grid;
    grid-template-areas: "visual-area content-wrapper nav-area";
    grid-template-columns: 3fr 3fr 1fr;
    gap: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

@media (max-width: 1023px) {
    .wrap {
        display: block;
        grid-template-areas: "content-wrapper";
        grid-template-columns: 1fr;
    }

}

.section {
    padding: var(--space-xl);
}


.btn-cup {
    display: inline-block;
    width: auto;
    color: var(--color-primary);
    font-size: var(--fs-normal);
    font-weight: var(--fw-medium);
    background-color: var(--color-white);
    padding: 0.5rem 3.5rem 0.5rem 1.75rem;
    margin: 2rem;
    border-radius: 0.5rem;
    border-left: 1rem solid;
    border-color: var(--color-primary-light);
    position: relative;
    box-shadow: var(--shadow-sm);

}

.btn-cup:hover {
    transform: translate(0, -2px);
    transform: scale(1.05);
    box-shadow: var(--shadow-md);
}

.btn-cup::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 28px;
    height: 28px;
    background-image: url(../images/icon-tea.svg);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);

}

.btn-book {
    display: inline-block;
    width: auto;
    color: var(--color-primary);
    font-size: var(--fs-normal);
    font-weight: var(--fw-medium);
    background-color: #f5e6d3;
    padding: 0.5rem 3.5rem 0.5rem 1.75rem;
    margin: 2rem;
    border-radius: 0.5rem;
    border-left: 1rem solid;
    border-color: var(--color-primary-light);
    position: relative;
    box-shadow: var(--shadow-sm);

}

.btn-book:hover {
    transform: translate(0, -2px);
    transform: scale(1.05);
    box-shadow: var(--shadow-md);
}

.btn-book::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 28px;
    height: 28px;
    background-image: url(../images/icon-book.svg);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}



/* モバイルヘッダー */
.mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 100;
    padding: 0.5rem 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}


.mobile-header a {
    color: var(--color-primary-dark);
}

.mobile-header a:hover {
    color: var(--color-primary-dark) !important;
}

.mobile-logo {
    font-family: var(--font-en);
    font-size: var(--fs-base);
    color: var(--color-primary-dark);
    font-weight: var(--fw-medium);
}

.mobile-logo-sub {
    font-family: var(--font-serif);
    font-size: var(--fs-sm);
    color: var(--color-primary-dark);
    margin-right: 3.25rem;
}

.mobile-cap-icon {
    width: 30px;
    height: auto;
    margin-left: 0.5rem;
}

.header-icon {
    display: flex;
    align-items: end;
    gap: 0.5rem;
    margin-left: 0.5rem;
}

@media (min-width: 1024px) {
    .mobile-header {
        display: none !important;
    }
}



/* ビジュアルエリアセクション
 */
.visual-area {
    display: block;
    grid-area: visual-area;
    background-color: #8b7355;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;

    .visual-slider {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .visual-slide {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1.5s ease-in-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .visual-slide.active {
        opacity: 1;
    }
}

@media (max-width: 1023px) {
    .visual-area {
        display: none !important;
    }
}

.visual-slide:nth-child(1) {
    background-image: url('../images/slide1.jpg');
    background-size: cover;
    background-position: center;
}

.visual-slide:nth-child(2) {
    background-image: url('../images/slide2.jpg');
    background-size: cover;
    background-position: center;
}

.visual-slide:nth-child(3) {
    background-image: url('../images/slide3.jpg');
    background-size: cover;
    background-position: center;
}

.content-wrapper {
    grid-area: content-wrapper;
    text-align: center;
    width: 100%;
    overflow: hidden;
}


/* ヒーローセクション */
.hero {

    height: 70vh;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, rgb(163, 52, 12) 0%, rgba(205, 74, 30, 1) 55%, rgba(247, 119, 45, 1) 100%);
    position: relative;
    overflow: hidden;
}

.hero::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 200%;
    height: 150px;
    background-image: url('../images/wave.svg');
    background-size: calc(50% + 1px) 100%;
    background-repeat: repeat-x;
    background-position: bottom;
    z-index: 0;
    animation: wave-complex 6s linear infinite;
    transform-origin: bottom center;
}

@keyframes wave-complex {
    0% {
        transform: translateX(0) translateY(0);
    }

    25% {
        transform: translateX(-12.5%) translateY(-8px);
    }

    50% {
        transform: translateX(-25%) translateY(-12px);
    }

    75% {
        transform: translateX(-37.5%) translateY(-8px);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}



.hero-content {
    padding: var(--space-lg);
    color: var(--color-white);
    width: 100%;
    max-width: 600px;
}

.hero-title-jp {
    font-family: 'Source Han Serif', serif;
    font-weight: 600;
    /* SemiBold */
    font-size: var(--fs-lg);
    font-weight: var(--fw-light);
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.5),
        0 0 20px rgba(255, 100, 0, 0.3);

}

.hero-title-en {
    font-family: var(--font-en);
    font-size: var(--fs-3xl);
    font-weight: var(--fw-medium);
    margin-bottom: 1.5rem;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.5),
        0 0 20px rgba(255, 100, 0, 0.3);
}

.hero-sub {
    font-size: var(--fs-normal);
    margin-bottom: 2rem;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.5),
        0 0 20px rgba(255, 100, 0, 0.3);
}

.section {
    color: var(--color-primary-dark);
}

section h2 {
    font-family: 'Source Han Serif', serif;
    font-weight: 600;
    /* SemiBold */
    font-size: var(--fs-xl);
    line-height: var(lh-tight);
    margin-bottom: 2rem;

}

section h2 .en {
    display: inline-block;
    font-family: var(--font-en);
    font-size: var(--fs-md);
    font-weight: var(--fw-medium);
    color: var(--color-white);
    background-color: var(--color-primary-light);
    border-left: double 10px var(--color-primary-dark);
    border-right: double 10px var(--color-primary-dark);
    width: 60%;

}

@media (max-width: 1023px) {
    .hero {
        background-image: url('../images/slide3.jpg');
        background-size: cover;
        background-position: center;
        background-color: rgba(105, 74, 30, .5);
        background-blend-mode: multiply;
        margin-top: 3rem;
    }

    .hero-content {
        /* background-color: rgba(231, 108, 37, 0.85); */
        background-image: linear-gradient(180deg, rgba(206, 76, 30, .4) 65%, rgba(231, 108, 37, .95) 100%);
        width: 85%;
        padding-top: 2.5rem;
        padding-bottom: 3.5rem;

    }

    .hero::after {
        display: none;
    }

}

/*ハンバーガーメニュー*/
nav {
    position: fixed;
    top: 24px;
    width: 100%;
    z-index: 200;
}

/* ハンバーガーメニュー - モーダル背景 */
.header-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 150;
    overflow-y: auto;
}

.header-menu ul {
    list-style: none;
    padding: 0.4vh 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-menu li {
    width: 80%;
    max-width: 400px;
}

.header-menu li a {
    padding: 0.33rem 2rem;
    font-size: var(--fs-md);
    color: var(--color-primary);
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    border: 1px solid var(--color-primary-light);
    transition: var(--transition-base);
}

.header-menu li a:hover {
    background-color: var(--color-white);
    color: var(--color-white);
    border: .55px solid var(--color-secondary-light);
    transform: scale(1.1);
}

/* ハンバーガーボタン  */
.hamburger {
    position: fixed;
    top: 10px;
    right: 24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    z-index: 200;
}

.hamburger.open::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 24px;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 2px 4px rgba(205, 74, 30, 0.5);
}

.hamburger span {
    transition: all .3s;
    position: absolute;
    height: 2px;
    background-color: var(--color-primary-dark);
    width: 100%;
    z-index: 200;
}

.hamburger span:nth-of-type(1) {
    top: 4px;
}

.hamburger span:nth-of-type(2) {
    top: 12px;
}

.hamburger span:nth-of-type(3) {
    top: 20px;
}

.hamburger.open span:nth-of-type(1) {
    transform: translateY(8px) rotate(-225deg);
}

.hamburger.open span:nth-of-type(2) {
    opacity: 0;
}

.hamburger.open span:nth-of-type(3) {
    transform: translateY(-8px) rotate(225deg);

}

@media (min-width: 1024px) {
    .header-menu {
        display: none !important;
    }

    .hamburger {
        display: none !important;
    }
}



/* アバウトセクション */

.about {
    width: 100%;
    background-color: var(--color-white);
    border-right: 1px solid #f5e6d3;
}

.features {
    display: grid;
    background-color: #f5e6d3;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0 2rem 0;
    margin-bottom: 2.5rem;
    box-shadow: var(--shadow-sm);
}

.feature-item {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;

}

.feature-item h4 {
    border: none;
    border-top: 2px solid var(--color-primary-dark);
    border-bottom: 2px solid var(--color-primary-dark);

}



.concept {

    margin-bottom: 2.5rem;
}


@media (max-width: 1023px) {

    .about,
    .books,
    .shop,
    .access {
        padding: 0;
        border-right: none;
    }

}


.menu {
    background-color: var(--color-BG2);
    width: 100%;
    border-right: 1px solid #f5e6d3;
}

.books {
    background-color: var(--color-BG1);
    width: 100%;
    border-right: 1px solid #f5e6d3;
}

.shop {
    background-color: var(--color-BG2);
    width: 100%;
    border-right: 1px solid #f5e6d3;
}

.access {
    background-color: var(--color-BG2);
    border-right: 1px solid #f5e6d3;

}

.photo-slider {
    width: 600px;
    max-width: 100%;
    background-color: #521e0f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2.5rem 0;
}

.slick01 {
    width: 100%;
    height: auto;
    list-style: none;
}

.slick01 li {
    outline: none;

}

.slick01 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}

/* レスポンシブ対応 */
@media (max-width: 1023px) {
    .slick01 img {
        height: 160px;
    }
}

@media (max-width: 480px) {
    .slick01 img {
        height: 160x;
    }
}

/*メニューセクション*/
.menu-card {
    display: grid;
    justify-content: center;
    border: solid var(--color-primary-light) 1px;
    height: auto;
    width: 400px;
    max-width: 95%;
    background-color: rgba(255, 255, 255, 0.66);
    padding: 1.5rem 0 2.5rem 0;
    margin: 0 auto;
    margin-bottom: var(--space-lg);
}

.menu-category {
    margin: 0 auto;
    width: 100%;
    min-width: 280px;
    border-collapse: collapse;


}


.menu-category h3.table-head {
    font-family: var(--font-serif);
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    color: var(--color-white);
    background-color: #521e0f;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.633rem;

    box-shadow: var(--shadow-sm);
}

.menu-category h3.table-head .en {
    font-family: var(--font-en);
    font-size: var(--fs-lg);
    font-weight: var(--fw-medium);

}

.menu-category h4 {
    font-family: var(--font-serif);
    font-size: var(--fs-sm);
    padding: 0;
    margin-bottom: 0.5em;
}


.menu-category .table-bg {
    width: 95%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu-category td {
    padding: 0 0;
    position: relative;
}

.menu-category td:first-child {
    text-align: left;
    padding: 0.25rem 0rem 0.5rem 0rem
}

.menu-category td:last-child {
    text-align: right;
    padding: 0.5rem 0rem 0.5rem 0rem;
}

.menu-category tr:first-child td {
    padding-top: 1.5rem;
}

.menu-category tr:last-child td {
    padding-bottom: 1.5rem;
}

.menu-category .menu-item-name {
    font-size: var(--fs-base);
    font-weight: var(--fw-medium);
    display: inline-block;
}

.menu-category .menu-item-text {
    font-size: var(--fs-xs);
    color: var(--color-primary);
    display: inline-block;
    padding: 0.125rem 0 1.5rem 1rem;

}

.menu-category .PopularItem::after {
    content: "人気の商品";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(0%);
    transform: translateX(-10%);
    height: auto;
    width: auto;
    font-size: 0.66em;
    font-weight: var(--fw-medium);
    color: var(--color-white);
    background-color: var(--color-primary-light);
    padding: 0 0.25rem;
}

.menu-note {
    font-size: var(--fs-xs);
}

/*ブックスエリア*/
.books h3 {

    font-family: 'Source Han Serif', serif;
    font-weight: 600;
}

.about-content

/* アクセスエリア */
.info-block {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* .info-block h3 {
    font-family: var(--font-serif);
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
}

.info-block h3 p {
    font-family: var(--font-main);
    font-size: var(--fs-xl);
} */

.gmap {
    margin: var(--space-lg);
    width: 85%;
    height: 300px;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    overflow: hidden;
    background-color: var(--color-white);
    border: solid 1px var(--color-gray-900);
}

/* ナビエリア */


.nav-area {
    grid-area: nav-area;
    background-color: var(--color-BG1);
    position: sticky;
    top: 0;
    right: 0;
    width: calc(100vw / 7);
    height: 100vh;
    overflow-y: auto;
    z-index: 100;
    padding-left: var(--space-md);
    padding-right: var(--space-md);
}


.logo-nav {
    display: block;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo-nav img {
    width: 60px;
    display: block;

}

.logo-nav .small-font {
    margin-top: 0.25rem;

}

.main-nav {
    margin-top: 5rem;

}

.main-nav>* {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
}

.main-nav a {
    color: var(--color-primary);

}

.main-nav a:hover {
    font-weight: var(--fw-bold);

}

.main-nav ul {
    list-style: none;

}

.main-nav .social-links {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    list-style: none;
}

.main-nav .social-links a {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.125rem;
    text-decoration: none;
    transition: var(--transition-base);
}


.main-nav .social-links .sns-name {
    font-size: 0.625rem;
    color: var(--color-primary);
    opacity: 0;
    transition: var(--transition-base);
}

.main-nav .social-links a:hover .sns-name {
    opacity: 1;
    color: var(--color-secondary-light);
    text-shadow: 0 0 20px 15px var(--color-secondary-dark);
}

.main-nav .social-links a:hover img {
    opacity: 0.7;
    transform: scale(1.1);
}

.main-nav .sns-icon-insta {
    height: 26px;
    width: auto;
}

.main-nav .sns-icon-x {
    height: 22px;
    width: auto;
}

.main-nav .sns-icon-note {
    height: 26px;
    width: auto;
}

.social-links a {
    color: var(--color-primary);
    display: inline-block;
}

.contact-btn {

    background-color: var(--color-white);
}

/*共用文章スタイル*/

.text-main {
    font-size: var(--fs-sm);
    font-weight: var(--fw-medium);
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.about-content {
    font-size: var(--fs-sm);
    font-weight: var(--fw-medium);
    max-width: 90%;
    padding: var(--space-xs);
    margin: 0 auto;
    margin-bottom: 3rem;
}

.small-font {
    font-size: 0.75rem;
    font-weight: var(--fw-medium);
    color: #80441D;

}

.text-accent {
    display: block;
    color: var(--color-primary);
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    margin: 0.5rem;


}

.text-y-space {
    display: block;
    color: var(--color-primary);
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Footer */
footer {
    background-color: var(--color-gray-900);
    color: #f5e6d3;
    padding: 32px 24px;
    text-align: center;
}

footer p {
    font-size: 0.85rem;
    letter-spacing: 0.1em;
}